.list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px 24px;
	padding-bottom: 58px;
}

.notFound {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.notFoundTitle {
	color: var(--text-color-white);
	font-size: 48px;
	font-weight: 600;
	line-height: 56px;
	margin-bottom: 20px;
}
