.header {
	border-radius: 24px;
	padding: 40px;
	backdrop-filter: blur(24px);
	background: var(--bg-movie-card);
}

.back {
	color: var(--primary-color-light);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	text-decoration: none;
	margin-bottom: 8px;
	transition: color 0.25s ease-in-out;
	&:hover {
		color: var(--primary-color);
	}
}
.body {
	display: flex;
	margin-top: 80px;
	gap: 80px;
	margin-bottom: 80px;
}
.image {
	border-radius: 24px;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.description {
	font-size: 20px;
	line-height: 32px;
}
.rating {
	display: flex;
	gap: 24px;
	align-items: center;
}

.extraInfo {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.infoItem {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.infoItemTitle {
	color: var(--text-color-grey);
}
.infoItemValue {
	font-size: 20px;
	line-height: 32px;
	color: var(--text-color-light);
	text-transform: capitalize;
	& span {
		text-transform: lowercase;
	}
}
