:root {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;

	/* colors */
	--bg-color: #121829;
	--text-color: #8e95a9;
	--text-color-white: #ffffff;
	--text-color-grey: #767e94;
	--text-color-light: #c3c8d4;
	--title-color: #ebeef5;
	--primary-color: #7b6ef6;
	--primary-color-hover: #5a4af4;
	--success-color: #37d8a7;
	--link-color: #a8aebf;
	--rating-color: #ffad49;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--bg-color);
	color: var(--text-color);
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}
